* {
    margin: 0;
}

body {
    overflow-y: scroll;
}

#login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: -1;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 929px;

}

#title_form {
    margin-top: 110px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
}

.account_input {
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #f5f5f5;
    padding-left: 15px;
    margin-bottom: 10px;
    width: 370px;
}

.login_button {
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 370px;
    margin-bottom: 25px;
}

.horizon-rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.horizon-rule hr {
    height: 1px;
    width: 133px;
    color: gray;
}

.horizon-rule span {
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px;
    color: #9f9f9f;
}

.second_button {
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    width: 250px;
}

#footer {
    width: 560px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.year {
    font-size: 13px;
    color: #9f9f9f;
}

.terms, .privacy, .cookie, .report {
    text-decoration: none;
    font-size: 13px;
    color: #9f9f9f;
}

.terms:hover, .privacy:hover, .cookie:hover, .report:hover {
    text-decoration: underline;
    color: #9f9f9f;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 74px;
    background-color: white;
    z-index: 2;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
}

.logo svg {
    margin-left: 19px;
}

.my-navbar {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fun-home, .fun-search, .fun-new, .fun-activity, .fun-profile {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-navbar button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 90%;
    margin: 0 5px;
}

.my-navbar button:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.my-navbar i {
    font-size: 24px;
    color: #b8b8b8;
}

.option {
    width: 30%;
}

.button_option {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.button_option button {
    background-color: transparent;
    border: none;
}

.button_option button i {
    font-size: 24px;
    color: #b8b8b8;
}

.popup_option {
    background-color: whitesmoke;
    border: 2px;
    width: 174px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px #dcdcdc;
    position: absolute;
    right: 200px;
    top: 60px;
    transform: translate(150%, -45%) scale(0.1);
    visibility: hidden;
    transition: transform 0.2s, right 0.2s;
}

.open_popup {
    visibility: visible;
    right: 0;
    transform: scale(1);
}

.popup_option button {
    width: 100%;
    height: 46px;
    background-color: white;
    border: none;
    text-align: left;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 2px;
    font-size: 15px;
}

.mode button {
    border-radius: 10px 10px 0 0;
}

.logout button {
    border-radius: 0 0 10px 10px;
}

.change-content {
    position: fixed;
    bottom: 35px;
    left: 350px;
}

.change-content button {
    width: 167px;
    height: 54px;
    background-color: white;
    box-shadow: 2px 2px 10px 1px #dcdcdc;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
}

.change-content i {
    margin-left: 5px;
    color: #b8b8b8;
}

.main-content {
    margin: 90px 35% 0 35%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.new-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.new-status img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.new-status input {
    border: none;
    background-color: transparent;
    width: 450px;
    margin-right: 10px;
}

.new-status input:focus-visible {
    outline: none;
}

.new-status button {
    background-color: #b2b2b2;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    height: 36px;
    width: 68px;
}

.contain-thread {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.thread {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contain_avatar {
    width: 8%;
    position: relative;
}

.contain_avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.contain_content {
    width: 91%;
}

.content_top {
    width: 100%;
    display: flex;
    position: relative;
}

.username_top {
    width: 85%;
}

.username_top button {
    color: black;
    font-weight: 600;
    background-color: white;
    border: none;
}

.username_top button:hover {
    text-decoration: underline;
    color: black;
}

.time {
    width: 13%;
}

.time span {
    color: #b8b8b8;
}

.content_middle {
    width: 100%;

}

.content_text {
    width: 100%;
}

.content_text span {
    font-size: 15px;
    font-weight: 400;
}

.content_image {
    margin-top: 10px;
    width: 100%;
}

.content_image img {
    max-width: 100%;
    max-height: 430px;
    border-radius: 10px;
}

.content_function {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
    margin-left: -7px;
}

.content_function button {
    background-color: transparent;
    border: none;
    height: 36px;
    width: 36px;
    margin-right: 7px;
    display: flex;
    align-items: center;
}

.content_function button:hover {
    background-color: #eeeeee;
    border-radius: 50%;
}

.content_function i {
    font-size: 20px;
}

.content_activity {
    margin-top: 7px;
    width: 100%;
}

.content_activity span {
    color: #b8b8b8;
}

.modal_create {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    height: 929px;
    z-index: 2;
    visibility: hidden;
}

.open_modal_create {
    visibility: visible;
}

.turn-off-scroll {
    overflow: hidden;
}

.new_thread {
    position: fixed;
    width: 618px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.create_title span {
    color: white;
    font-weight: 700;
}

.frame_create {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    height: auto;
    padding: 20px 20px;
    border-radius: 15px;
}

.create_top {
    width: 100%;
    min-height: 130px;
    display: flex;
    flex-direction: row;
}

.create_topleft {
    width: 8%;
    padding-top: 5px;
}

.create_topleft img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.create_topright {
    width: 92%;
    height: 100%;
}

.create_username {
    width: 100%;
}

.create_username span {
    font-weight: 500;
}

.create_content {
    width: 100%;
}

.editable {
    color: black;
    cursor: text;
    margin-bottom: 10px;
}

.editable[contenteditable]:empty::before {
    content: "Bắt đầu thread";
    color: gray;
}

.editable:focus-visible {
    outline: none;
}

.create_content input:focus-visible {
    outline: none;
}

.create_img {
    margin-bottom: 10px;
}

.create_img img {
    max-width: 100%;
    max-height: 430px;
    border-radius: 10px;
}

.create_fun {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fun_img {
    margin-right: 10px;
}

#file-upload {
    display: none;
}

.custom-file-upload i {
    color: #868686;
}

.fun_img button {
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fun_img button i {
    font-size: 18px;
    color: #b8b8b8;
}

.create_bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create_bottomleft {
    width: 80%;
}

.create_bottomleft span {
    color: #a4a4a4;
    font-size: 16px;
}

.create_bottomright {
    width: 20%;
    display: flex;
    justify-content: right;
}

.create_bottomright button {
    background-color: #b2b2b2;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    height: 36px;
    width: 68px;
}

.detail-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-top {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.detail-left {
    width: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-name span {
    font-weight: bold;
    font-size: 24px
}

.detail-username span {
    font-size: 15px
}

.detail-right {
    width: 84px;
}

.detail-right img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.detail-middle {
    width: 100%;
    margin-top: 15px;
}

.detail-middle span {
    font-size: 15px;
}

.detail-bot {
    width: 100%;
    margin-top: 17px;
}

.detail-bot span {
    color: #9a9a9a;
    font-size: 15px;
}

.detail-bot span:hover {
    color: #9a9a9a;
    text-decoration: underline;
    font-size: 15px;
}

.setting-profile {
    width: 100%;
    margin-top: 28px;
}

.setting-profile .button_setting {
    height: 34px;
    background-color: white;
    border: 1px solid #d2d1d1;
    width: 100%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
}

.button_follow {
    height: 34px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
}

.title-thread {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 20px;
}

.my-thread, .my-comment, .my-rethread {
    width: calc(100% / 3);
    height: 48px;
    border-bottom: 1px solid #b8b8b8;
}

.title-thread button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: #9f9f9f;
}

.modal_follow {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    height: 929px;
    z-index: 2;
    visibility: hidden;
}

.open_modal_follow {
    visibility: visible;
}

.frame_follow {
    position: fixed;
    width: 520px;
    max-height: 865px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.follow_top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.follower, .following {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #9f9f9f;
    height: 60px;
}

.count_follower, .count_following {
    color: #9f9f9f;
    font-size: 14px;
}

.title_follower, .title_following {
    font-weight: 500;
    color: #9f9f9f;
}

.follow_middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 62px;
    padding-bottom: 10px;
    overflow-y: auto;
}

.no_follow {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_follow span {
    color: #9f9f9f;
    font-size: 15px;
    font-weight: 400;
}

.follow-user {
    width: 100%;
    padding: 16px 0 0 16px;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.follow-left {
    width: 48px;
}

.follow-left img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.follow-right {
    width: calc(100% - 48px);
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #cecece;
}

.follow-username span {
    font-weight: 500;
    font-size: 15px;
}

.follow-button button {
    background-color: white;
    border: 1px solid #9f9f9f;
    color: black;
    border-radius: 10px;
    width: 115px;
    height: 34px;
    font-weight: 500;
    font-size: 15px;
}

.following-button button {
    background-color: white;
    border: 1px solid #9f9f9f;
    color: #9f9f9f;
    border-radius: 10px;
    width: 115px;
    height: 34px;
    font-weight: 500;
    font-size: 15px;
}

.follow-close {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 12px;
    right: 10px;
    top: 5px;
}

.contain-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.modal_reply {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    height: 929px;
    z-index: 2;
    visibility: hidden;
}

.open_modal_reply {
    visibility: visible;
}

.new_comment {
    position: fixed;
    width: 618px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reply_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.reply_title span {
    color: white;
    font-weight: 700;
}

.frame_reply {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    height: auto;
    padding: 20px 20px;
    border-radius: 15px;
}

.reply_top {
    width: 100%;
    min-height: 130px;
    display: flex;
    flex-direction: row;
}

.reply_topleft {
    width: 8%;
    padding-top: 5px;
}

.reply_topleft img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.reply_topright {
    width: 92%;
    height: 100%;
}

.reply_username {
    width: 100%;
}

.reply_username span {
    font-weight: 500;
}

.reply_content {
    width: 100%;
}

.editable {
    color: black;
    cursor: text;
    margin-bottom: 10px;
}

.editable[contenteditable]:empty::before {
    content: "Trả lời...";
    color: gray;
}

.editable:focus-visible {
    outline: none;
}

.reply_content input:focus-visible {
    outline: none;
}

.reply_bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reply_bottomleft {
    width: 80%;
}

.reply_bottomleft span {
    color: #a4a4a4;
    font-size: 16px;
}

.reply_bottomright {
    width: 20%;
    display: flex;
    justify-content: right;
}

.reply_bottomright button {
    background-color: #b2b2b2;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    height: 36px;
    width: 68px;
}
.reply-close {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 12px;
    right: 10px;
    top: 50px;
}
.popup_setting_thread {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #e7e7e7;
    box-shadow: 2px 2px 10px 1px #dcdcdc;
    border-radius: 10px;
    visibility: hidden;
}
.open_popup_setting_thread {
    visibility: visible;
}
.popup_setting_thread button {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: left;
    font-weight: 600;
    font-size: 14px;
    background-color: white;
    border: none;
    margin-bottom: 1px;
}
.contain_search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 20px 20px;
}
.contain_search i {
    color: #d9d9d9;
    margin-right: 15px;
}
.contain_search input {
    background-color: transparent;
    border: none;
    width: 100%;
}
.contain_search input:focus-visible {
    outline: none;
}
.contain_search:focus-within {
    box-shadow: 2px 2px 10px 1px #eeeeee;
}
.contain_result {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.result_user {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.result_avatar {
    width: 9%;
}
.result_avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.result_right {
    width: calc(100% - 9%);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #b8b8b8;
}
.result_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.result_info {
    width: 75%;
}
.result_username span {
    font-weight: 500;
    font-size: 15px;
}
.result_name span {
    font-size: 15px;
    color: #9f9f9f;
}
.result_button button {
    height: 36px;
    padding: 0 5px;
    min-width: 104px;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
.result_bottom {
    padding-bottom: 10px;
}
.result_bottom span {
    font-size: 15px;
}
.hidden_button {
    visibility: hidden;
}